<div class="container">
<div class="row">
  <div class='col-md-12 padding header_guide'>Create new Todo item</div>
</div>
<!-- <div class="row">
  <div class='col-md-2 padding header'>Project</div>
  <input class='col-md-10 row_input'></input>
</div> -->
<div class="row">
  <div class='col-md-2 padding header'>Name</div>
  <input class='col-md-10 row_input padding' ng-model='newItem.name'></input>
</div>
<div class="row">
  <div class='col-md-2 padding header'>Description</div>
  <textarea class='col-md-10 text padding' ng-model='newItem.desc'></textarea>
</div>
<div class='form_ok_line'>
<a ng-click='submit()' href='#' class='nostyle form_button'>Submit</a> <a href='#/stack' class='nostyle form_button'>Cancel</a>
</div>
</div>
