  <div class="container">
    <div class="row">
      <div class='col-md-4 padding header_guide'>The stack</div>
      <div class='col-md-8 padding header_guide'>Selected item</div>
    </div>
    <div class="row">
      <div class='col-md-4 stack_div'>
        <ul class='stack_list'>
          <li ng-repeat='todo in stack track by $index' ng-class='{top_bg:$even, selected_focus:$index===selected}' class='padding'>
            <span ng-class='{selected:$index===selected,not_selected:$index!=selected}'>> </span><span ng-class='{top:$first}'>{{todo.name}}</span>
          </li>
        </ul>
      </div>
      <div class='col-md-8 desc'>
        <div class='header padding'>
          {{stack[selected].name}}
        </div>
        <div class='text padding'><!--{{stack[selected].desc}}-->
          <span ng-bind-html='stack[selected].desc'></span>
        </div>
        <!--<textarea class='text'>
        </textarea>-->
      </div>
    </div>
  </div>
