html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    height: 100%;
}

.title {
    position: absolute;
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: #990022;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    font-family: 'PT Sans', sans-serif;
}

.stripe {
    margin: 0 auto;
    background-color: #2B2B2B;
}

.stripe_top {
    height: 0px;
}

.stripe_under_title {
    position: absolute;
    width: 100%;
    margin-top: 3.8em;
    height: 2em;
}

.main_view {
    min-height: 100%;
    height: 100%;
}

.container {
    padding-top: 8em;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    min-height: 100%;
    height: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
}

.stack_div {
    overflow-y: auto;
    padding-bottom: 50px;
}

.stack_list {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

.stack_list li {
    width: 100%;
    /* min-height: 3em; */
    margin: 2px 2px;
}

.stack_list .top_bg {
    width: 100%;
    background-color: #ffcccc;
}

.stack_list li .top {
    /* color: red; */
}

.stack_list li .selected {
    font-weight: bold;
    color: red;
}

.stack_list li .not_selected {
    visibility: hidden;
}

.padding {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.header_guide {
    padding-left: 1em;
    font-weight: bold;
}

.header {
    background-color: #F5ECCE;
    /* min-height: 3em; //not precise! */
}

.text {
    min-height: 200px;
    overflow-y: auto;
    background-color: #F7F8E0;
    border: 0px none;
}

.row_input {
    height: 3 em;
    border: 2px solid #eeeeee;//#CED8F6;
}

.form_button {
    margin-left: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.75em;
    padding-right: 1.75em;
    background-color: #CEE3F6;
    color: black;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.form_ok_line {
    margin-top: 3em;
}

.selected_focus {
    border: 1px #ff6666 solid;
    box-shadow: 0px 0px 2px 0px red;
}

.row_input:focus { 
    border: 2px solid #F7BE81;
}

.text:focus {
    border: 2px solid #F7BE81;
}
